// config for workflow

// define parameters
params {

  // input directory
  inputDir = "./input"

  // output directory
  outputDir = "./output"

}

// set process container images
process {

  withName:qualityControl_trimgalore {
    container = "quay.io/annacprice/trimgalore:latest"
  }

  withName:bacterialAssembly_shovill {
    container = "quay.io/staphb/shovill:latest"
  }

}

// set profiles for singularity and docker
profiles {

  singularity {

    enabled = 'true'
    autoMounts = 'true'

  }

  docker {

    enabled = 'true'
    fixOwnership = 'true'
    runOptions = "-u \$(id -u):\$(id -g)"

  }

}
