// config for workflow

// define parameters
params {

  // input directory
  inputDir = "./input"

  // output directory
  outputDir = "./output"

}


// set profiles for singularity and docker
profiles {

  singularity {

    singularity.enabled = 'true'
    autoMounts = 'true'

      process {

        withName:qualityControl_trimgalore {
        container = "quay.io/annacprice/trimgalore:latest"
      }

        withName:bacterialAssembly_shovill {
        container = "quay.io/staphb/shovill:latest"
      }

    }

  }

  docker {

    docker.enabled = 'true'
    fixOwnership = 'true'
    runOptions = "-u \$(id -u):\$(id -g)"

      process {

        withName:qualityControl_trimgalore {
        container = "quay.io/annacprice/trimgalore:latest"
      }

        withName:bacterialAssembly_shovill {
        container = "quay.io/staphb/shovill:latest"
      }

    }

  }

}
