// config for workflow

// define parameters
params {

  // input directory
  inputDir = "./input"

  // output directory
  outputDir = "./output"

}


// set profiles for singularity and docker
profiles {

  singularity {

    singularity.enabled = 'true'
    autoMounts = 'true'

  }

  docker {

    docker.enabled = 'true'
    fixOwnership = 'true'
    runOptions = "-u \$(id -u):\$(id -g)"

  }

}
